.itemwrapsection{display: flex; justify-content: center; margin-top: 10%;}
.locationofout{display: inline-block; border-radius: 60px; padding: 0.6em 0.6em; color: #fff; background-color: #f50057;}
.typographywrap{display: flex; justify-content: center;}
